#!/usr/bin/env zsh

[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"

# sdk env
JVM=23.1.1.r21-nik

sdk install java $JVM  || echo "the $JVM is installed already."
sdk use java $JVM 